<div ng-controller="NodeListCtrl">
  <h3> Node List </h3>
  <div ng-repeat="(key, value) in nodeList" class="linknimage">
    <span> {{ key }} </span>
    <span> node-id: {{nodeList[key].nid[0].value}} </span>
    <a ng-href="/#!/node/{{nodeList[key].nid[0].value}}" src class="" alt=""><span class="">{{ nodeList[key].title[0].value}} </span> >></a>
    <img ng-src={{nodeList[key].field_image[0].url}} width="200" height="150" alt={{nodeList[key].field_image[0].alt}} class="img-responsive"/>
  </div>
</div>
